{% extends "base.html" %}
{% block title %}New Task{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">New Task</h3>
    <div class="container">
    <hr>
    <center>	
                <input type="text" id="name" placeholder="Task Name">
                <input type="text" id="name" placeholder="Assignee">
                <label for="sdate">Start date:</label>
                <input type="date" id="sDate">
                <label for="deadline">Deadline:</label>
                <input type="date" id="deadline">
    </div></center>
        <center>
            <textarea id="description" placeholder="Description of Task" cols="30" rows="10" onClick="myObj.textSelect(this)"> Description of Task</textarea>
              

            </div>
            </div></center>

        <center>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-primary">Subtask Creation</button>
            <button type="button" class="btn btn-primary">Set Priority</button>
            <button type="button" class="btn btn-primary">Assign to Project</button>
            </form>
        </section>

    <script src="src/ObjectApp.js"></script>
    </center>
    </body>
    
</html>

{% endblock %}

