{% extends "base.html" %}
{% block title %}Project Manager{% endblock %}

{% block content %}

Project tasks and options should appear here.

<form method="POST">
    <label>Invite User</label>
    <input
          type="email"
          id="new_user_email"
          name="new_user_email"
          placeholder="Enter email"
        style="width: 250px;"><button type="submit">Send</button>
</form>

<a class="nav-item nav-link" id="task_manager" href="{{ url_for('auth.new_task', project_id=project.id) }}">
  <button class="btn btn-primary">New Task</button>
</a>

<ul style="list-style-type: none">
  {% for tsk in tasks %}
      <li> <div data-name="{{ tsk.name }}" data-info="{{ tsk.description }}" data-id="{{ tsk.id }}">
        <input type="checkbox">
        {{ tsk.description }} 
        <span style="color: gray; font-size: small;">({{ tsk.assignee }})</span>
      </div></li>
  {% endfor %}
</ul>



{% endblock %}