{% extends "base.html" %}
{% block title %}Project Manager{% endblock %}

{% block content %}

Project tasks and options should appear here.

<form method="POST">
    <label>Invite User</label>
    <input
          type="email"
          id="new_user_email"
          name="new_user_email"
          placeholder="Enter email"
          style="width: 250px;"><button type="submit">Send</button>
</form>

<h3 align="center">{{ project.name }}</h3>
<p align="center">{{ project.description }}</p>

<!-- Button to navigate to the New Task page -->
<a class="nav-item nav-link" href="{{ url_for('auth.new_task', project_id=project.id) }}">
    <button class="btn btn-primary">New Task</button>
</a>

<!-- Display tasks -->
{% for task in project.tasks %}
    <div class="task-details">
        <h4>{{ task.name }}</h4>
        <p>Start Date: {{ task.start_date.strftime('%Y-%m-%d') }}</p>
        <p>End Date: {{ task.deadline.strftime('%Y-%m-%d') }}</p>
        <p>{{ task.description }}</p>
    </div>
{% endfor %}


{% endblock %}
