{% extends "base.html" %}
{% block title %}Task Manager{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Task Manager</h3>
    <div class="container">
    <hr>
    <h1 align="center"> Your Tasks: </h1>

        

            <center>
                <button type="submit" class="btn btn-primary">Edit Task</button>
                <button type="submit" class="btn btn-primary">Delete Task</button>
                <button type="submit" class="btn btn-primary">Set Priority</button>
                <button type="submit" class="btn btn-primary">Task Complete</button>

                </form>
            </section>
    
        <script src="src/ObjectApp.js"></script>
        </center>
        </body>
        
    
</html>

{% endblock %}